
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/MyBootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline md-form mr-auto mb-4" method="get" action="Client/searchByWord" style="position:absolute; left:5px;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="text">
            <button class="btn btn-success btn-rounded btn-sm my-0" type="submit">Search</button>
        </form>
        <a class="navbar-brand mx-auto" href="@Url.Action("Index", "Client")"><h3>DusanovTechSupp</h3></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position:absolute; right:5px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @{ IEPProjekat.Models.User logged = (IEPProjekat.Models.User)Session["user"];}
                        Welcome, @logged.Name @logged.LastName
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left:auto; right:0;">
                        <a class="dropdown-item" href="@Url.Action("goToMyProfile", "Client")">My profile</a>
                        <a class="dropdown-item" href="@Url.Action("openBuyTokensPage", "Client")">Buy tokens</a>
                        <a class="dropdown-item" href="@Url.Action("openChannelsPage", "Client")">Channels</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("logout", "Client")">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
